**/.idea/
**/.gradle/
**/build/
**/buildSrc/.gradle
**/buildSrc/build
**/out/
*.iml
**/.gradletasknamecache
**/.classpath
**/.settings/
**/bin/
**/.project
**/*_gen*/
**/venv/
**/node_modules/
**/dist/
/mps-cli-rs/target

gradle.properties
**/workspace.xml
**/misc.xml
**/__pycache__/