**/.idea/
**/.gradle/
**/build/
**/buildSrc/.gradle
**/buildSrc/build
**/out/
*.iml
**/.gradletasknamecache
**/.classpath
**/.settings/
**/bin/
**/.project
**/workspace.xml
**/*_gen*/

gradle.properties
