# --- VS Code Shared Settings ---
**/.vscode/*
!mps-cli-py/.vscode/settings.json
!mps-cli-py/.vscode/extensions.json

**/.idea/
**/.gradle/
**/build/
**/buildSrc/.gradle
**/buildSrc/build
**/out/
*.iml
**/.gradletasknamecache
**/.classpath
**/.settings/
**/bin/
**/.project
**/*_gen*/
**/venv/
**/node_modules/
**/dist/
/mps-cli-rs/target

gradle.properties
**/workspace.xml
**/misc.xml
**/__pycache__/