<section *ngIf="node != undefined">
    <li>node: {{ node!.getProperty("name") === undefined ? "" : node!.getProperty("name") }} (concept: {{ node!.myConcept.name }} - id: {{ node!.id }})</li>
    <ul *ngIf="propertiesKeys().length > 0" class="px-2 list-disc list-inside">
        <li>properties:</li>
        <ul class="px-4 list-disc list-inside" *ngFor="let prop of propertiesKeys()">
            <li> {{ prop[0].name }} :: {{ prop[1] }} </li>
        </ul>
    </ul>
    <ul *ngIf="referencesKeys().length > 0" class="px-2 list-disc list-inside">
        <li>references:</li>
        <ul class="px-4 list-disc list-inside" *ngFor="let ref of referencesKeys()">
            <li> {{ ref.name }} :: {{references(ref).modelId}} -- {{references(ref).nodeId}}</li>
        </ul>
    </ul>
    <ul *ngIf="childrenKeys().length > 0" class="px-2 list-disc list-inside">
        <li>children:</li>
        <ul class="px-4 list-disc list-inside" *ngFor="let childKey of childrenKeys()">
            <li> {{ childKey.name }} : </li> 
            <ul class="px-6 list-disc list-inside">
                <app-node-viewer *ngFor="let child of children(childKey)" [node]="child"></app-node-viewer>
            </ul>
        </ul>
    </ul>
</section>