<br/>

<div class="grid grid-cols-4 auto-rows-max">
    <section class="grid-span-1">
        <form>
            <input class="border-2" type="text" placeholder="Filter modules ...">
            <button class="px-2 primary" type="button">Search</button>
        </form>
        <ul class="list-disc list-inside"><app-module *ngFor="let module of modules" [module]="module"></app-module></ul>
    </section>    
    <section class="border-8 col-span-3">
        HELLOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
        <app-root-node-editor> </app-root-node-editor>
    </section>
</div>
